/* -------------------------------
   DESKTOP VIEW 
--------------------------------*/

/* hide button in desktop view */
.hamburger-menu-open-close-button {
    display: none;
}

/* -------------------------------
   MEDIA QUERIES - MOBILE VIEW
--------------------------------*/
@media (max-width: 480px) {

    .header-container {
        border-radius: 5px;
        justify-content: center;
    }

    /* display button in mobile view */
    .hamburger-menu-open-close-button {
        display: flex;
    }

    .hamburger-menu-container {
        width: 100%;
    }

    .hamburger-menu-anchor-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 2vh;
        border-top: 1px solid;
        padding: 2rem;
        border-color: gray;
        text-decoration: none;
    }

    .hamburger-menu-anchor-tag {
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;

    }

    .hamburger-menu-create-account-button, .hamburger-menu-sign-in-button {
        width: 50;
        margin-top: 2vh;
        margin-bottom: 1vh;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
        transition: 0.4s;
        justify-items: flex-end;
    }

    .hamburger-menu-create-account-button {
        border: 0;
        color: white;
        background-color: #f15b6e;
        font-size: 18px;
    }

    .hamburger-menu-sign-in-button {
        color: #f15b6e;
        background-color: #ffffff;
        border: 1px solid #f15b6e;
        font-size: 18px;
    }

    .hamburger-menu-button-container {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid;
        border-color: gray;
    }

    .hamburger-menu-open-close-button {
        color: #f15b6e;
        background-color: #ffffff;
        border: 1px solid #f15b6e;
        font-size: 24px;
    }
}